<div class="table-responsive">
    <h3>Club Member - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Story</th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Member</td>
                <td>As a member when I log into the site I can access restricted club content ("My Club") based on my log in account.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Roles</td>
                <td>
                    As a member I could be involved in one or more areas of the club. For example I could be coach, a senior player, a club official,
                    a guardian, or hold some other position. However I only want to log into the website using a single login account and view any
                    relevant information I need for any of my roles in one place, "My Club".
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>New Member Registratioin</td>
                <td>
                    As new member who wishes to join the club I can register via the website.
                    If I am a junior then I must be registered by at leaset one guardian who can then add me as their responsibility.
                    As a junior I can only be contacted via my guardian(s).
                    After registration has been completed I will br sent my personal website login details.
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Login Details</td>
                <td>
                    If I am a junior then my username is my firstname followed by my surname separated by a period (eg tom.jones).
                    If I am not a junior then my user name is my email address.
                    I will be given an initial password which will be my firstname lowercase, firstname uppercase
                    and the digit 1 (eg tomTOM1). However the first time I log into the site
                    I will be asked to change it, after that I can change my password at any time I wish.
                    My username has to be unique so as a gaurdian I cannot share an email address to register. As a junior if my name Tom Jones is not unqiue then my username will contain a number in order to make it unique eg tom1.jones.
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Fee Payment</td>
                <td>
                    After completing the on-line registration forms, as the guardian registering, I will be presented with a summary page listing the
                    cost of registration and other club chargeable  services available to me.
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>Registration Details Upkeep</td>
                <td>
                    As an adult member I want to maintain my own registration details such as address, telephone number, etc. I also need to add further
                    juniors I am guardian for or add another guardian to be responsible for my own wards. I cannot however change the names of my wards or my own email address
                    using the registration upkeep functions as this will affect a member's login username. See "Change Username" user story for this function. In addition a guardian
                    responsible for more than one junior cannot register another guardian to be responsible for some of registering guardians wards. The additional guardian has to be
                    responsible for all the original guardians junior responsibilities.
                </td>
            </tr>

            <tr>
                <td>99</td>
                <td>Change Username</td>
                <td>
                    Todo
                </td>
            </tr>                        
        </tbody>
    </table>
</div>