<div id="guardianDetails" class="memberDetails">
    
    <div class="form-group col-md-12">
        <span class="col-md-2 control-label text-right">
            Guardian: <strong>{{guardian.Firstname}} {{guardian.Surname}}</strong>
        </span>
        <div class="col-md-2">
            <input type="checkbox" ng-model="guardian.IsActive" value="{{guardian.IsActive}}" ng-checked="{{guardian.IsActive}}" /> [Active]
        </div>
    </div>

    <div class="form-group col-md-12">
        <span class="col-md-1 control-label text-right">Surname:</span>
        <div class="col-md-3">
            <input type="text" class="form-control input-md required" ng-model="guardian.Surname" placeholder="Surname">
        </div>
        <span class="col-md-1 control-label text-right">Firstname:</span>
        <div class="col-md-3">
            <input type="text" class="form-control input-md required" ng-model="guardian.Firstname" placeholder="Firstname">
        </div>
        <span class="col-md-1 control-label text-right">Nickname:</span>
        <div class="col-md-3">
            <input type="text" class="form-control input-md" ng-model="guardian.Nickname" placeholder="Nickname">
        </div>
    </div>
    <div class="form-group col-md-12">
        <span class="col-md-1 control-label text-right">Email:</span>
        <div class="col-md-3">
            <input type="text" id="Email-Guardian" name="Email-Guardian" class="form-control input-md required" ng-model="guardian.Email" ui-event="{ blur : 'blurEmailCallback($event)' }" placeholder="Email" >
        </div>
        <span class="col-md-1 control-label text-right">Again:</span>
        <div class="col-md-3">
            <input type="text" class="form-control validate[required,equals[Email-Guardian]]" placeholder="Email Again">
        </div>

        <div class="col-md-4">           
        </div>
    </div>
    <div id="dupError" class="form-group col-md-12">
        <span class="col-md-2"></span>
        <div class=" col-md-10">
            <p class="error"></p>
        </div>
    </div>
    <div class="form-group col-md-12">
       
        <span class="col-md-1 control-label text-right">Mobile:</span>
        <div class="col-md-3">
            <input type="text" class="form-control input-md required" ng-model="guardian.Mobile" placeholder="Mobile">
        </div>
        <span class="col-md-1 control-label text-right">Telephone:</span>
        <div class="col-md-3">
            <input type="text" class="form-control input-md" ng-model="guardian.OtherTelephone" placeholder="Other Telephone">
        </div>

        <div class="col-md-4">

        </div>
    </div>
    <div class="form-group col-md-12">
        <span class="col-md-1 control-label text-right">Address:</span>
        <div class="col-md-3">
            <input type="text" class="form-control input-md required" ng-model="guardian.Address" placeholder="Address">
        </div>
        <span class="col-md-1 control-label text-right">Town:</span>
        <div class="col-md-3">
            <input type="text" class="form-control input-md" ng-model="guardian.Town" placeholder="Town">
        </div>
        <span class="col-md-1 control-label text-right">Postcode:</span>
        <div class="col-md-3">
            <input type="text" class="form-control input-md required" ng-model="guardian.Postcode" placeholder="Postcode">
        </div>
    </div>
</div>

