<div id="juniorDetails" class="memberDetails">
    <div class="form-group">
        Junior: <strong>{{junior.Firstname}} {{junior.Surname}}</strong>
    </div>

    <div class="form-group">
        <span class="col-md-1 control-label text-right">Surname:</span>
        <div class="col-md-2">
            <input name="Junior-Surname" type="text" class="form-control input-md required" ng-model="newJunior.Surname">
        </div>
        <span class="col-md-1 control-label text-right">Firstname:</span>
        <div class="col-md-2">
            <input name="Junior-Firstname" type="text" class="form-control input-md required" ng-model="newJunior.Firstname">
        </div>
        <span class="col-md-1 control-label text-right">Nickname:</span>
        <div class="col-md-2">
            <input name="Junior-Nickname" type="text" class="form-control input-md" ng-model="newJunior.Nickname" placeholder="Nickname">
        </div>
        <span class="col-md-1 control-label text-right">DOB:</span>
        <div class="col-md-2">
            <input name="Junior-Dob" type="date" class="form-control input-md required" ng-model="newJunior.Dob">
        </div>
    </div>
 </div>