<div class="table-responsive">
    <h3>Club Member - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Story</th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Membership</td>
                <td>As a member when I log into the site I can access restricted club content ("myclub") based on my log in account.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Roles</td>
                <td>As a member I could be involved in one or more areas of the club. For example I could be coach, a senior player, a club official, 
                    a guardian, or hold some other position. However I only want to log into the website using a single login account and view any 
                    relevant information I need for any of my roles in one place, "myclub". </td>
            </tr>           
            <tr>
                <td>3</td>
                <td>Login Details</td>
                <td>
                    My user name is my firstname and surname joined by a period (eg tom.jones). 
                    I will be given an initial password like my username; firstname lowercase, firstname uppercase 
                    and the digit 9 (eg tomTOM9). However the first time I log into the site 
                    I will be asked to change it, after that I can change my password at any time I wish.
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>New Member Registratioin</td>
                <td>
                    As new member who wishes to join the club I can register via the website.
                    If I am a junior then I must be registered by at leaset one guardian who can then add me as their responsibility.
                    As a junior I can only be contacted via my guardian(s).
                    After registration has been completed I will br sent my personal website login details.                   
                </td>
            </tr>    
            <tr>
                <td>5</td>
                <td>Registratioin Payment</td>
                <td>
                    After completing the on-line registration forms, as the guardian registering, I will be presented with a summary page listing the 
                    cost of registration and other club chargeable  services available to me.
                </td>
            </tr>    
            <tr>
                <td>6</td>
                <td>Guardian Lookup</td>
                <td>
                    As a club official when I need to contact a guardian I don't really care what their name is unless I wish to be polite 
                    but I do need both a valid eMail and telephone number. There is no point Billie having both parents contact details stored 
                    in the system if the telephone and email information is the same. (This means that guardians can change thier name 
                    but must provide a unique email and telephone number.)
                </td>
            </tr>       
        </tbody>
    </table>
</div>