<div class="form-group">
    <span class="col-md-2 control-label text-right">Address:</span>
    <div class="col-md-4">
        <input name="Address-{{$index+1}}" type="text" placeholder="House/Street" class="form-control input-md" required="">
    </div>       
    <div class="col-md-4">
        <input name="Town-{{$index+1}}" type="text" placeholder="Town" class="form-control input-md">
    </div>        
    <div class="col-md-2">
        <input name="Postcode-{{$index+1}}" type="text" placeholder="Postcode" class="form-control input-md" required="">
    </div>
</div>

