<div class="form-group">

<span class="col-md-2 control-label text-right">Date of Birth:</span>

    <div class="col-md-2">
        <input name="DOB-{{$index+1}}" type="date" class="form-control input-md" required="">
    </div>
    <div class="col-md-2">
        <input name="Team-{{$index+1}}" type="text" placeholder="Team" class="form-control input-md">
    </div>
    <div class="col-md-3">
        <input name="School-{{$index+1}}" type="text" placeholder="School" class="form-control input-md">
    </div>
    <div class="col-md-3">
        <textarea class="form-control" name="Notes-{{$index+1}}" placeholder="Notes"></textarea>
    </div>
</div>