<div class="form-group">    
    <span class="col-md-2 control-label text-right"><strong>@Model Member {{$index+1}}:</strong></span>
    <div class="col-md-4">
        <input name="@Model-Firstname-{{$index+1}}" type="text" placeholder="Firstname" class="form-control input-md" required="">
    </div>
    <div class="col-md-4">
        <input name="@Model-Surname-{{$index+1}}" type="text" placeholder="Surname" class="form-control input-md" ui-event="{ blur : 'blurSurnameCallback($event)' }" required="">
    </div>
    <div class="col-md-2">
        <input name="@Model-Nickname-{{$index+1}}" type="text" placeholder="Nickname" class="form-control input-md">
    </div>
</div>
<div id="@Model-NameCheck-{{$index+1}}" class="form-group">
    <span class="col-md-2"></span>
    <div class=" col-md-4">
        <p class="message"></p>
    </div>
</div>

