<div class="form-group instruction">
    <span class="col-md-2"></span>
    <span class="col-md-10">Please select the registration type(s) from the list below. 
        If you are registering a junior then you must register the junior's guardian(s) address and contact details. 
        A junior can only be contacted via their associated guardian(s).
        A guardian cannot be registered without entering the name and required information of at least one junior.
        If you are a guardian and a player then select "Guardian" and "Senior Player" or if you are a guardian and a coach, manager, committee member etc then select
        "Guardian" and "Other", or if necessary all options. If you do select multiple options then only one gaurdian may be entered at a time.
    </span>
</div>