<div class="form-group junior-count reg-form">
    <span class="col-md-2 control-label text-right">No of Juniors:</span>
    <div class="col-md-1">
        <input id="JuniorCount" name="JuniorCount" min="1" type="number" class="form-control input-md" ng-model="juniorcount" ng-click="adjustJuniorCount()">
    </div>  
</div>

