<ul class="form-group junior reg-form">
    <li ng-repeat="junior in juniors">
        @Html.Partial("__Name", "Junior")
        @Html.Partial("__JuniorInfo")
        @Html.Partial("__Kit")
    </li>
</ul>
