<div class="form-group other reg-form">
    <span class="col-md-2 control-label text-right">Reason:</span>

    <div class="col-md-8">
        <textarea class="form-control" name="OtherReason" placeholder="You have selected the officer option. Use this box to describe why you have requested registration or the club offical role you are involed in."></textarea>
    </div>
</div>