<table tr-ng-grid='' items='juniors' enable-filtering="false" enable-sorting="false">
    <thead>
        <tr>
            <th field-name="MemberNo" display-name="#"></th>
            <th field-name="Fullname" display-name="Name"></th>
            <th field-name="Nickname" display-name="Nickname"></th>
            <th field-name="Dob" display-name="DOB" display-format="editDateField:gridItem"></th>
            <th field-name="School" display-name="School"></th>
            <th field-name="Notes" display-name="Notes"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td field-name="Nickname"><input name="JuniorMemberNo-{{$index+1}}" type="hidden" value="{{gridDisplayItem.MemberNo}}" /><input name="JuniorNickname-{{$index+1}}" type="text" value="{{gridDisplayItem.Nickname}}" class="form-control input-md" /></td>
            <td field-name="Dob"><input name="JuniorDob-{{$index+1}}" type="date" value="{{gridDisplayItem.Dob}}" class="form-control input-md" required="" /></td>
            <td field-name="School"><input name="JuniorSchool-{{$index+1}}" type="text" value="{{gridDisplayItem.School}}" class="form-control input-md" /></td>
            <td field-name="Notes"><textarea name="JuniorNotes-{{$index+1}}" class="form-control input-md">{{gridDisplayItem.Notes}}</textarea></td>
        </tr>
    </tbody>
</table>