<table tr-ng-grid='' items='memberDetails' enable-filtering="false" enable-sorting="false">
    <thead>
        <tr>
            <th field-name="MemberNo" display-name="#"></th>
            <th field-name="Fullname" display-name="Name"></th>
            <th field-name="Nickname" display-name="Nickname"></th>
            <th field-name="Mobile" display-name="Mobile"></th>
            <th field-name="OtherTelephone" display-name="Other Tel."></th>
            <th field-name="Email" display-name="Email"></th>
            <th field-name="Address" display-name="Address"></th>
            <th field-name="Town" display-name="Town"></th>
            <th field-name="Postcode" display-name="Postcode"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td field-name="Nickname"><input name="GuardianMemberNo-{{$index+1}}" type="hidden" value="{{gridDisplayItem.MemberNo}}" /><input name="GuardianNickname-{{$index+1}}" type="text" value="{{gridDisplayItem.Nickname}}" class="form-control input-md" /></td>
            <td field-name="Mobile"><input name="GuardianMobile-{{$index+1}}" type="tel" value="{{gridDisplayItem.Mobile}}" class="form-control input-md" required="" /></td>
            <td field-name="OtherTelephone"><input name="GuardianOtherTelephone-{{$index+1}}" type="tel" value="{{gridDisplayItem.OtherTelephone}}" class="form-control input-md" /></td>
            <td field-name="Address"><input name="GuardianAddress-{{$index+1}}" type="text" value="{{gridDisplayItem.Address}}" class="form-control input-md" required="" /></td>
            <td field-name="Town"><input name="GuardianTown-{{$index+1}}" type="text" value="{{gridDisplayItem.Town}}" class="form-control input-md" /></td>
            <td field-name="Postcode"><input name="GuardianPostcode-{{$index+1}}" type="text" value="{{gridDisplayItem.Postcode}}" class="form-control input-md" required="" /></td>
        </tr>
    </tbody>
</table>