@{
    Script.Require("AngularJS-Resource");
    Script.Require("Club.My.Member.Registration");
    Style.Require("trNgGrid");
}
<div ng-init="username = @(Model)"></div>
<div data-ng-app="ivNet.My.Member.Registration.App">
    <div data-ng-controller="RegistrationController">
    
    </div>
</div>

