@{
    Script.Require("AngularJS-UI");
    Script.Require("AngularJS-Resource");
    Script.Require("Club.Member.Registration.Details");

    Style.Require("Club.New.Member");
}


<div data-ng-app="ivNet.Member.Registration.Details.App">
    <div data-ng-controller="MemberRegistrationDetailsController">
        
        @using (Html.BeginFormAntiForgeryPost(Url.Action("Update", "Member", new {area = "ivNet.Club"}), FormMethod.Post, new {@class = "form-horizontal", id = "newMemberForm"}))
        {
            <p>Username: {{authenticatedUserName}}</p>
            <input type="button" value="Add a Guardian" class="btn btn-primary" ng-click="addGuardian()" />
            <div id="newGuardianTable">
                <table tr-ng-grid='' items='newMemberDetails' enable-filtering="false" enable-sorting="false">
                    <thead>
                        <tr>
                            <th field-name="Firstname" display-name="Firstname"></th>
                            <th field-name="Surname" display-name="Surname"></th>
                            <th field-name="Nickname" display-name="Nickname"></th>
                            <th field-name="Mobile" display-name="Mobile"></th>
                            <th field-name="OtherTelephone" display-name="Other Tel."></th>
                            <th field-name="Email" display-name="Email"></th>
                            <th field-name="Address" display-name="Address"></th>
                            <th field-name="Town" display-name="Town"></th>
                            <th field-name="Postcode" display-name="Postcode"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td field-name="Firstname"><input name="NewGuardianFirstname" ng-model="NewGuardianFirstname" type="text" placeholder="Firstname" class="form-control input-md" /></td>
                            <td field-name="Surname"><input name="NewGuardianSurname" ng-model="NewGuardianSurname" type="text" placeholder="Surname" class="form-control input-md" /></td>
                            <td field-name="Nickname"><input name="NewGuardianNickname" ng-model="NewGuardianNickname" type="text" placeholder="Nickname" class="form-control input-md" /></td>
                            <td field-name="Email">
                                <input id="NewGuardianEmail" name="NewGuardianEmail" ng-model="NewGuardianEmail" type="email" placeholder="Email" class="form-control input-md" ui-event="{ blur : 'blurEmailCallback($event)' }" />
                                <input name="NewGuardianEmailAgain" type="email" placeholder="Email Again" class="form-control input-md validate[required,equals[Newguardianemail]]" />
                                <div id="dupError" class="form-group">
                                    <p class="error"></p>
                                </div>
                            </td>
                            <td field-name="Mobile"><input name="NewGuardianMobile" ng-model="NewGuardianMobile" type="tel" placeholder="Mobile" class="form-control input-md" /></td>
                            <td field-name="OtherTelephone"><input name="NewGuardianOtherTelephone" ng-model="NewGuardianOtherTelephone" type="tel" placeholder="Other Telephone Number" class="form-control input-md" /></td>
                            <td field-name="Address"><input name="NewGuardianAddress" type="text" ng-model="NewGuardianAddress" placeholder="Address" class="form-control input-md" /></td>
                            <td field-name="Town"><input name="NewGuardianTown" type="text" ng-model="NewGuardianTown" placeholder="Town" class="form-control input-md" /></td>
                            <td field-name="Postcode"><input name="NewGuardianPostcode" ng-model="NewGuardianPostcode" type="text" placeholder="Postcode" class="form-control input-md" /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class=" col-md-4">
                        <input name="GuardianSearchEmail" type="email" placeholder="Email" class="form-control input-md" />
                    </div>
                    <span class="col-md-2"><input type="button" value="Guardian search" class="btn btn-warning" ng-click="searchGuardian()" /></span>
                    <span class="col-md-2"><input type="button" value="Clear search" class="btn btn-warning" ng-click="clearGuardianSearch()" /></span>
                    
</div>
              
            </div>
            <table tr-ng-grid='' items='memberDetails' enable-filtering="false" enable-sorting="false">
                <thead>
                    <tr>
                        <th field-name="MemberNo" display-name="#"></th>
                        <th field-name="Fullname" display-name="Name"></th>
                        <th field-name="Nickname" display-name="Nickname"></th>
                        <th field-name="Mobile" display-name="Mobile"></th>
                        <th field-name="OtherTelephone" display-name="Other Tel."></th>
                        <th field-name="Email" display-name="Email"></th>
                        <th field-name="Address" display-name="Address"></th>
                        <th field-name="Town" display-name="Town"></th>
                        <th field-name="Postcode" display-name="Postcode"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td field-name="Nickname"><input name="GuardianNickname" type="text" value="{{gridDisplayItem.Nickname}}" class="form-control input-md" /></td>
                        <td field-name="Mobile"><input name="GuardianMobile" type="tel" value="{{gridDisplayItem.Mobile}}" class="form-control input-md" required="" /></td>
                        <td field-name="OtherTelephone"><input name="GuardianOtherTelephone" type="tel" value="{{gridDisplayItem.OtherTelephone}}" class="form-control input-md" /></td>
                        <td field-name="Address"><input name="GuardianAddress" type="text" value="{{gridDisplayItem.Address}}" class="form-control input-md" required="" /></td>
                        <td field-name="Town"><input name="GuardianTown" type="text" value="{{gridDisplayItem.Town}}" class="form-control input-md" /></td>
                        <td field-name="Postcode"><input name="GuardianPostcode" type="text" value="{{gridDisplayItem.Postcode}}" class="form-control input-md" required="" /></td>
                    </tr>
                </tbody>
            </table>
      
            <input type="button" value="Add a Junior" class="btn btn-primary" ng-click="addJunior()" />
            <div id="newJuniorTable">
                <table tr-ng-grid='' items='newJuniors' enable-filtering="false" enable-sorting="false">
                    <thead>
                        <tr>
                            <th field-name="Firstname" display-name="Firstname"></th>
                            <th field-name="Surname" display-name="Surname"></th>
                            <th field-name="Nickname" display-name="Nickname"></th>
                            <th field-name="Dob" display-name="DOB" display-format="editDateField:gridItem"></th>
                            <th field-name="School" display-name="School"></th>
                            <th field-name="Notes" display-name="Notes"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td field-name="Firstname"><input name="NewJuniorFirstname" type="text" placeholder="Firstname" class="form-control input-md" /></td>
                            <td field-name="Surname"><input name="NewJuniorSurname" type="text" placeholder="Surname" class="form-control input-md" /></td>
                            <td field-name="Nickname"><input name="NewJuniorNickname" type="text" placeholder="Nickname" class="form-control input-md" /></td>
                            <td field-name="Dob"><input name="NewJuniorDob" type="date" class="form-control input-md" /></td>
                            <td field-name="School"><input name="NewJuniorSchool" type="text" placeholder="School" class="form-control input-md" /></td>
                            <td field-name="Notes"><textarea name="NewJuniorNotes" placeholder="Notes" class="form-control input-md"></textarea></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <table tr-ng-grid='' items='juniors' enable-filtering="false" enable-sorting="false">
                <thead>
                    <tr>
                        <th field-name="MemberNo" display-name="#"></th>
                        <th field-name="Fullname" display-name="Name"></th>
                        <th field-name="Nickname" display-name="Nickname"></th>
                        <th field-name="Dob" display-name="DOB" display-format="editDateField:gridItem"></th>
                        <th field-name="School" display-name="School"></th>
                        <th field-name="Notes" display-name="Notes"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td field-name="Nickname"><input name="JuniorNickname-{{$index+1}}" type="text" value="{{gridDisplayItem.Nickname}}" class="form-control input-md" /></td>
                        <td field-name="Dob"><input name="JuniorDob-{{$index+1}}" type="date" value="{{gridDisplayItem.Dob}}" class="form-control input-md" required="" /></td>
                        <td field-name="School"><input name="JuniorSchool-{{$index+1}}" type="text" value="{{gridDisplayItem.School}}" class="form-control input-md" /></td>
                        <td field-name="Notes"><textarea name="JuniorNotes-{{$index+1}}" class="form-control input-md">{{gridDisplayItem.Notes}}</textarea></td>
                    </tr>
                </tbody>
            </table>
          
            <input id="singlebutton" type="submit" value="Save Changes" class="btn btn-success" />
        }
    </div>
</div>

