<table id="" tr-ng-grid='' items='contacts'>
    <thead>
        <tr>       
            <th field-name="Surname" display-name="Surname">
            </th>
            <th field-name="Firstname" display-name="Firstname">
            </th>        
            <th field-name="Dob" display-name="DOB" enable-sorting="false">
            </th>
            <th field-name="Address" display-name="Address">
            </th>
            <th field-name="Town" display-name="Town">
            </th>
            <th field-name="Postcode" display-name="PostCode">
            </th>
            <th field-name="Email" display-name="Email">
            </th>
            <th field-name="Mobile" display-name="Mobile">
            </th>
            <th field-name="OtherTelephone" display-name="Telephone">
            </th>
            <th field-name="Notes" display-name="Notes" enable-sorting="false">
            </th>
        </tr>
    </thead>
</table>