@{
    Script.Require("AngularJS-Resource");
    Script.Require("Admin.Member.List.Contacts");
    Script.Require("NgCsv");
            
    Style.Require("Admin.Member.List.Contacts");
    Style.Require("trNgGrid");
}

<div id="AdminContacts" data-ng-app="Admin.Member.List.Contacts.App" class="col-md-12">
    <div data-ng-controller="AdminContactListController">
        @Html.Partial("Admin/ListContacts/Junior/_ContactList")
        
        <button type="button" ng-csv="contacts" csv-header="['Surname', 'Firstname', 'Dob', 'Address, 'Town', 'Postcode', 'Notes']" filename="junior.csv">Export</button>

    </div>
</div>