<div id="guardianRepeatDetails" class="memberDetails">
    <div ng-repeat="guardian in guardians">
        <div class="form-group">
            Guardian: <strong>{{$index+1}}</strong>
        </div>
        <div class="form-group">
            <span class="col-md-1 control-label text-right">Surname:</span>
            <div class="col-md-3">
                <input name="Guardian-Surname-{{$index+1}}" type="text" class="form-control input-md" ng-model="guardian.Surname" disabled="">
            </div>
            <span class="col-md-1 control-label text-right">Firstname:</span>
            <div class="col-md-3">
                <input name="Guardian-Firstname-{{$index+1}}" type="text" class="form-control input-md" ng-model="guardian.Firstname" disabled="">
            </div>
            <span class="col-md-1 control-label text-right">Nickname:</span>
            <div class="col-md-3">
                <input name="Guardian-Nickname-{{$index+1}}" type="text" class="form-control input-md" ng-model="guardian.Nickname" placeholder="Nickname">
            </div>         
        </div>
    </div>
</div>