<div id="guardianDetails" class="memberDetail">
   
    <div class="form-group">
        <span class="col-md-12 control-label text-left"><strong>Member: {{guardian.Email}}</strong></span>
    </div>
    <div class="form-group">
        <span class="col-md-1 control-label text-right">Surname:</span>
        <div class="col-md-3">
            <input name="Guardian-Surname" type="text" class="form-control input-md" ng-model="guardian.Surname" disabled="">
        </div>
        <span class="col-md-1 control-label text-right">Firstname:</span>
        <div class="col-md-3">
            <input name="Guardian-Firstname" type="text" class="form-control input-md" ng-model="guardian.Firstname" disabled="">
        </div>
        <span class="col-md-1 control-label text-right">Nickname:</span>
        <div class="col-md-3">
            <input name="Guardian-Nickname" type="text" class="form-control input-md" ng-model="guardian.Nickname" placeholder="Nickname">
        </div>
    </div>
    <div class="form-group">
        <span class="col-md-1 control-label text-right">Email:</span>
        <div class="col-md-3">
            <input name="Guardian-Email" type="text" class="form-control input-md" ng-model="guardian.Email" disabled="">
        </div>
        <span class="col-md-1 control-label text-right">Mobile:</span>
        <div class="col-md-3">
            <input name="Guardian-Mobile" type="text" class="form-control input-md" ng-model="guardian.Mobile" placeholder="Mobile" required="">
        </div>
        <span class="col-md-1 control-label text-right">Telephone:</span>
        <div class="col-md-3">
            <input name="Guardian-OtherTelephone" type="text" class="form-control input-md" ng-model="guardian.OtherTelephone" placeholder="Other Telephone">
        </div>
    </div>
    <div class="form-group">
        <span class="col-md-1 control-label text-right">Address:</span>
        <div class="col-md-3">
            <input name="Guardian-Address" type="text" class="form-control input-md" ng-model="guardian.Address" placeholder="Address" required="">
        </div>
        <span class="col-md-1 control-label text-right">Town:</span>
        <div class="col-md-3">
            <input name="Guardian-Town" type="text" class="form-control input-md" ng-model="guardian.Town" placeholder="Town">
        </div>
        <span class="col-md-1 control-label text-right">Postcode:</span>
        <div class="col-md-3">
            <input name="Guardian-Nickname" type="text" class="form-control input-md" ng-model="guardian.Postcode" placeholder="Postcode" required="">
        </div>
    </div>
</div>

