@{
    var errorGuid = Model;
}
<p>Sorry an error has occurred. <br/> To report this error please contact bp@ivNet.co.uk quoting the following text: <strong>@errorGuid</strong> <br/>Thank you.</p>
<p>To return to the website please click <a href="@Url.Content("~/")">here</a></p>