@{
    Script.Require("AngularJS-Resource");
    Script.Require("Club.Configuration.Fixture");
    Style.Require("Club.Configuration.Fixture");
    Style.Require("trNgGrid");
}

<div id="ClubConfiguration" data-ng-app="Club.Configuration.Fixture.App" class="col-md-12">
    <div data-ng-controller="ConfigurationController">
        <div class="col-md-6">
            <div class="col-md-12">
                <h4>Teams</h4>
                <table id="teamconfig" tr-ng-grid='' items='teams' enable-sorting="false" enable-filtering="false">
                    <thead>
                        <tr>
                            <th field-name="Id" display-name="Id" display-align="right">
                            </th>
                            <th field-name="Name" display-name="Name">
                            </th>
                            <th field-name="IsActive" display-name="Active">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td field-name="Id"></td>
                            <td field-name="Name"><input type="text" value="{{gridDisplayItem.Name}}" /></td>
                            <td field-name="IsActive"><input type="checkbox" value="{{gridDisplayItem.IsActive}}" ng-checked="{{gridDisplayItem.IsActive}}" /></td>

                            <td>
                                <button class="btn btn-default" ng-click="saveItem(gridItem,'teamconfig')">
                                    <span>{{gridDisplayItem.Id==0?"Add":"Save"}}</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>        
            <div class="col-md-12">
                <h4>Fixture Types</h4>
                <table id="fixturetypeconfig" tr-ng-grid='' items='fixturetypes' enable-sorting="false" enable-filtering="false">
                    <thead>
                        <tr>
                            <th field-name="Id" display-name="Id" display-align="right">
                            </th>
                            <th field-name="Name" display-name="Name">
                            </th>
                            <th field-name="IsActive" display-name="Active">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td field-name="Id"></td>
                            <td field-name="Name"><input type="text" value="{{gridDisplayItem.Name}}" /></td>
                            <td field-name="IsActive"><input type="checkbox" value="{{gridDisplayItem.IsActive}}" ng-checked="{{gridDisplayItem.IsActive}}" /></td>

                            <td>
                                <button class="btn btn-default" ng-click="saveItem(gridItem,'fixturetypeconfig')">
                                    <span>{{gridDisplayItem.Id==0?"Add":"Save"}}</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-md-12">
                <h4>How Out</h4>
                <table id="howoutconfig" tr-ng-grid='' items='howout' enable-sorting="false" enable-filtering="false">
                    <thead>
                        <tr>
                            <th field-name="Id" display-name="Id" display-align="right">
                            </th>
                            <th field-name="Name" display-name="Name">
                            </th>
                            <th field-name="IsActive" display-name="Active">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td field-name="Id"></td>
                            <td field-name="Name"><input type="text" value="{{gridDisplayItem.Name}}" /></td>
                            <td field-name="IsActive"><input type="checkbox" value="{{gridDisplayItem.IsActive}}" ng-checked="{{gridDisplayItem.IsActive}}" /></td>

                            <td>
                                <button class="btn btn-default" ng-click="saveItem(gridItem,'howoutconfig')">
                                    <span>{{gridDisplayItem.Id==0?"Add":"Save"}}</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-6">
            <h4>Opponents</h4>
            <table id="opponentconfig" tr-ng-grid='' items='opponents' enable-sorting="false" enable-filtering="false">
                <thead>
                    <tr>
                        <th field-name="Id" display-name="Id" display-align="right">
                        </th>
                        <th field-name="Name" display-name="Name">
                        </th>
                        <th field-name="IsActive" display-name="Active">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td field-name="Id"></td>
                        <td field-name="Name"><input type="text" value="{{gridDisplayItem.Name}}" /></td>
                        <td field-name="IsActive"><input type="checkbox" value="{{gridDisplayItem.IsActive}}" ng-checked="{{gridDisplayItem.IsActive}}" /></td>

                        <td>
                            <button class="btn btn-default" ng-click="saveItem(gridItem,'opponentconfig')">
                                <span>{{gridDisplayItem.Id==0?"Add":"Save"}}</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-md-12">
            <h4>Locations</h4>
            <table id="locationconfig" tr-ng-grid='' items='locations' enable-sorting="false" enable-filtering="false">
                <thead>
                    <tr>
                        <th field-name="Id" display-name="Id" display-align="right">
                        </th>
                        <th field-name="Name" display-name="Name">
                        </th>
                        <th field-name="Postcode" display-name="Postcode">
                        </th>
                        <th field-name="Longitude" display-name="Longitude">
                        </th>
                        <th field-name="Latitude" display-name="Latitude">
                        </th>

                        <th field-name="IsActive" display-name="Active">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td field-name="Id"></td>
                        <td field-name="Name"><input type="text" value="{{gridDisplayItem.Name}}" /></td>
                        <td field-name="Postcode"><input type="text" value="{{gridDisplayItem.Postcode}}" /></td>
                        <td field-name="Longitude"><input type="text" value="{{gridDisplayItem.Longitude}}" /></td>
                        <td field-name="Latitude"><input type="text" value="{{gridDisplayItem.Latitude}}" /></td>

                        <td field-name="IsActive"><input type="checkbox" value="{{gridDisplayItem.IsActive}}" ng-checked="{{gridDisplayItem.IsActive}}" /></td>
                        <td>
                            <button class="btn btn-default" ng-click="saveItem(gridItem,'locationconfig')">
                                <span>{{gridDisplayItem.Id==0?"Add":"Save"}}</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


