@{
    Script.Require("AngularJS-Resource");
    Script.Require("Club.Configuration.Fixture");
    Style.Require("Club.Configuration.Fixture");
    Style.Require("trNgGrid");
}

<div id="ClubConfiguration" data-ng-app="Club.Configuration.Fixture.App">
    <div data-ng-controller="ConfigurationController">
    
    </div>
</div>

