<div class="table-responsive">
    <h3>Configuration - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Story</th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>General</td>
                <td>As a club admin I need to maintain certain information about the running of the club, so that the "MyClub" section works. Information such as the season start and end date, fees, etc.
            </tr>      
            <tr>
                <td>2</td>
                <td>Fixture</td>
                <td>As a fixture secretary or club admin I need to maintain fixture configuration information to help create fixtures easily, such as a list of team names, opponent team names, fixture location, etc
            </tr>
  
        </tbody>
    </table>
</div>