<div class="table-responsive">
    <h3>Contacts - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Story</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Contact List</td>
                <td>
                    As an administrator with communication responsibilities I want to search the membership by team, age group and membership type or status.
                    After creating a list of contacts I would want to export this list to MS Excel or eMail the list members directly from the site.
                </td>
            </tr>
        </tbody>
    </table>
</div>
