<div class="table-responsive">
    <h3>Fixture - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Story</th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>New Fixture</td>
                <td>As a fixture secretary when creating a fixture I need to set home team name, the date, home or away status, opponent name, the match location and what type of game; cup, league or frienldy, etc.</td>
            </tr>   
            <tr>
                <td>2</td>
                <td>New Team Selection</td>
                <td>As a selector when making a team selection I need to set the fixture and pick a team from the available players.</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Adding Match Stats</td>
                <td>As a statistician I need to select a fixture then add the bowling and batting stats for each of the team players</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Adding Match Report</td>
                <td>As a reporter I need to select a fixture then add then add the match result and report</td>
            </tr>
        </tbody>
    </table>
</div>