<div class="table-responsive">
    <h3>Fixure - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Story</th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>New Fixture</td>
                <td>As a fixture secretary when creating a fixture I need to set home team name, the date, home or away status, opponent name, the match location and what type of game; cup, league or frienldy, etc.
            </tr>   
        </tbody>
    </table>
</div>