<div class="table-responsive">
    <h3>Club Member - User Stories</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Story</th>              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Member</td>
                <td>As a member when I log into the site I can access restricted club content ("My Club") based on my log in account.</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Roles</td>
                <td>
                    As a member I could be involved in one or more areas of the club. For example I could be coach, a senior player, a club official,
                    a guardian, or hold some other position. However I only want to log into the website using a single login account and view any
                    relevant information I need for any of my roles in one place, "My Club".
                </td>
            </tr>  
        </tbody>
    </table>
</div>