
    <table tr-ng-grid="" items="members"
           page-items="20" total-items="1000"
           on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
        <thead>
            <tr>
                <th field-name="MemberId" display-name="Id" display-align="right" enable-filtering="false" enable-sorting="false">
                </th>
                <th field-name="Surname" display-name="Surname">
                </th>
                <th field-name="Firstname" display-name="Firstname">
                </th>
                <th field-name="Dob" display-name="DOB" display-format="dateField:gridItem" enable-sorting="false" enable-filtering="false">
                </th>
                <th field-name="AgeGroup" display-name="Age Group">
                </th>                
                <th field-name="MemberType" display-name="Member Type">
                </th>
                <th field-name="MemberIsActive" display-name="Active (Y/N)">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td field-name="IsActive"><input type="checkbox" value="{{gridDisplayItem.IsActive}}" ng-checked="{{gridDisplayItem.IsActive}}" disabled="" /></td>
                <td>
                    <button class="btn btn-default" ng-click="editMember(gridItem)">
                        <span>Edit</span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
  