<table id="" tr-ng-grid='' items='contacts'>
    <thead>
        <tr>       
            <th field-name="Surname" display-name="Surname">
            </th>
            <th field-name="Firstname" display-name="Firstname">
            </th>
            <th field-name="MemberType" display-name="Member Type">
            </th>
            <th field-name="Dob" display-name="DOB" display-format="dateField:gridItem">
            </th>
            <th field-name="Address" display-name="Address">
            </th>
            <th field-name="Town" display-name="Town">
            </th>
            <th field-name="Postcode" display-name="PostCode">
            </th>
            <th field-name="Notes" display-name="Notes">
            </th>
        </tr>
    </thead>
</table>