<div class="form-group">
    <span class="col-md-2 control-label text-right">Contact:</span>
    <div class="col-md-4">
        <input name="Telephone-{{$index+1}}" type="tel" placeholder="Telephone" class="form-control input-md" required="">
    </div>       
    <div class="col-md-4">
        <input name="Email-{{$index+1}}" type="email" placeholder="Email" class="form-control input-md" required="">
    </div>              
</div>
