<div class="form-group">

    <span class="col-md-2 control-label text-right">Kit:</span>

    <div class="col-md-2">
        <input name="Shirt-{{$index+1}}" type="text" placeholder="Shirt Size"  class="form-control input-md">
    </div>
    <div class="col-md-2">
        <input name="Shorts-{{$index+1}}" type="text" placeholder="Shorts Size" class="form-control input-md">
    </div>
    <div class="col-md-2">
        <input name="Boot-{{$index+1}}" type="text" placeholder="Boot Size" class="form-control input-md">
    </div>
  
</div>