
<div class="form-group button reg-form">
    <span class="col-md-2"></span>
    <div class="col-md-6">
        <p>To prevent SPAM, please enter the text below.</p>
        <div id="captcha"></div>
        <p id="error">You miss-typed the text. Please try again.</p>
    </div>
</div>
<div class="form-group button reg-form">
    <span class="col-md-2"></span>
    <div class="col-md-6">
        <input id="singlebutton" type="submit" value="Save" class="btn btn-primary" />
        @*<button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>*@
        <input type="hidden" name="Challenge" />
        <input type="hidden" name="Response" />
    </div>
</div>
