
<div class="form-group button reg-form">
    <span class="col-md-2"></span>
    <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
    </div>
    <div class="col-md-6">
        <div id="recaptcha"></div>
    </div>
</div>
