<div class="form-group guardian-count reg-form">
    <span class="col-md-2 control-label text-right">No of Guardians:</span>
    <div class="col-md-1">
        <input id="MemberCount" name="MemberCount" min="1" type="number" class="form-control input-md" ng-model="membercount" ng-click="adjustMemberCount()">
    </div>
    <span class="col-md-1 control-label text-right">Season:</span>
    <div class="col-md-2">
        <select id="Season" name="Season" class="form-control input-md" ng-model="season">
            <option value="2013">2013/14</option>
            <option value="2014">2014/15</option>
            <option value="2015">2015/16</option>
        </select>
    </div>
</div>

