
<ul class="form-group member reg-form">
    <li ng-repeat="member in members">
        @Html.Partial("__Name", "Adult")
        @Html.Partial("__Email")
        @Html.Partial("__Address")
        @Html.Partial("__Contact")
    </li>
</ul>
