@{
    Script.Require("AngularJS-Resource");
    Script.Require("trNgGrid");
    Script.Require("Club.Member.Registration.Payment");
    Style.Require("trNgGrid");
}

<div id="NewMemberRegistration" data-ng-app="ivNet.Member.Registration.Payment.App">
    <div data-ng-controller="PaymentController">
        <table tr-ng-grid='' items='items'></table>
    </div>
</div>

