@{
    Script.Require("Club.Member.Registration.Payment");
}

<div id="NewMemberRegistration" data-ng-app="ivNet.Member.Registration.Payment.App">
    <div data-ng-controller="PaymentController">
        {{$scope.result}}
    </div>
</div>

