<ul class="form-group junior reg-form">
    <li ng-repeat="junior in juniors">
        @Html.Partial("Membership/NewRegistration/__Name", "Junior")
        @Html.Partial("Membership/NewRegistration/__JuniorInfo")
        @Html.Partial("Membership/NewRegistration/__Kit")
    </li>
</ul>
