<table tr-ng-grid='' items='fixtures'
       @*selected-items="selectedFixtures"*@
       @*selection-mode="SingleRow"*@
       page-items="pageItemsCount"
       total-items="itemsTotalCount"
       on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
    
    <thead>
        <tr>
            <th field-name="id" display-name="Id" enable-filtering="false" enable-sorting="false" display-align="right">
            </th>
            <th field-name="Date" display-name="Date" display-format="dateField:gridItem"></th>
            <th field-name="Team" display-name="Team"></th>
            <th field-name="Opponent" display-name="Opponent"></th>
            <th field-name="HomeAway" display-name="HomeAway"></th>
            <th field-name="FixtureType" display-name="Fixture"></th>
            <th field-name="Score" display-name="Result"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button class="btn btn-default" ng-click="editFixture(gridItem)">
                    <span>Edit</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>