<table tr-ng-grid='' items='playerStats'>
    <thead>
        <tr>
            <th field-name="PlayerName" display-name="Name" enable-filtering="false" enable-sorting="false"></th>            
            <th field-name="Runs" display-name="R" enable-filtering="false" enable-sorting="false"></th>
            <th field-name="NotOut" display-name="N/O" enable-filtering="false" enable-sorting="false"></th>
            <th field-name="Overs" display-name="O" enable-filtering="false" enable-sorting="false"></th>
            <th field-name="Wickets" display-name="W" enable-filtering="false" enable-sorting="false"></th>
            <th field-name="RunsConceeded" display-name="R/C" enable-filtering="false" enable-sorting="false"></th>
            <th field-name="Catches" display-name="C" enable-filtering="false" enable-sorting="false"></th>
            <th field-name="Captain" display-name="Captain" enable-filtering="false" enable-sorting="false"></th>
            <th field-name="Keeper" display-name="Keeper" enable-filtering="false" enable-sorting="false"></th>
        </tr>
    </thead>
</table>