<table tr-ng-grid='' items='playerStats' id='playerStatsTable' enable-filtering="false" enable-sorting="false">
    <thead>
        <tr>
            <th field-name="PlayerName" display-name="Name"></th>
            <th field-name="Runs" display-name="R"></th>
            <th field-name="HowOut" display-name="H/O"></th>
            <th field-name="Overs" display-name="O"></th>
            <th field-name="Maidens" display-name="M"></th>
            <th field-name="Wickets" display-name="W"></th>
            <th field-name="RunsConceeded" display-name="R/C"></th>
            <th field-name="Catches" display-name="C"></th>
            <th field-name="Captain" display-name="Captain"></th>
            <th field-name="Keeper" display-name="Keeper"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td field-name="Runs">
                <input type="text" ng-model="gridDisplayItem.Runs" class="form-control" />
            </td>
            <td field-name="HowOut">
                @*<select style="width:120px" ng-model="gridDisplayItem.HowOut" ng-options="out.Name for out in howout track by out.Id"><option value="">Select</option></select>*@
                <select style="width:120px" ng-model="gridDisplayItem.HowOut">
                    <option ng-selected="{{hw.Id == gridDisplayItem.HowOut}}"
                            ng-repeat="hw in howout"
                            value="{{hw.Id}}">
                        {{hw.Name}}
                    </option>
                </select>
            </td>
            <td field-name="Overs">
                <input type="text" ng-model="gridDisplayItem.Overs" class="form-control" />
            </td>
            <td field-name="Maidens">
                <input type="text" ng-model="gridDisplayItem.Maidens" class="form-control" />
            </td>
            <td field-name="Wickets">
                <input type="text" ng-model="gridDisplayItem.Wickets" class="form-control" />
            </td>
            <td field-name="RunsConceeded">
                <input type="text" ng-model="gridDisplayItem.RunsConceeded" class="form-control" />
            </td>
            <td field-name="Catches">
                <input type="text" ng-model="gridDisplayItem.Catches" class="form-control" />
            </td>
            <td field-name="Captain">
                <select style="width:80px" ng-model="gridDisplayItem.Captain" ng-options="yn.Text for yn in yesno track by yn.Id"><option value="">No</option></select>
            </td>
            <td field-name="Keeper">
                <select style="width:80px" ng-model="gridDisplayItem.Keeper" ng-options="yn.Text for yn in yesno track by yn.Id"><option value="">No</option></select>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-default" ng-click="saveItem()">
    <span>Save</span>
</button>