@{
    Script.Require("AngularJS-Resource");
    Script.Require("Admin.Fixture.New");
    Style.Require("Admin.Fixture.New");
    Style.Require("trNgGrid");
}

<div id="ClubConfiguration" data-ng-app="Admin.Fixture.New.App">
    <div data-ng-controller="AdminFixtureController">
    
    </div>
</div>


        @*<div id="ClubConfiguration" data-ng-app="Club.Configuration.General.App">
                <div data-ng-controller="ConfigurationController">
                    <table tr-ng-grid='' items='myItems'>
                        <thead>
                            <tr>
                                <th field-name="Id" display-name="Id" enable-filtering="false" enable-sorting="false" display-align="right">
                                </th>
                                <th field-name="Name" display-name="Name" enable-filtering="false">
                                </th>
                                <th field-name="ItemGroup" display-name="Group" enable-filtering="false">
                                </th>
                                <th field-name="Text" display-name="Text" enable-filtering="false">
                                </th>
                                <th field-name="Date" display-name="Date" display-format="dateField:gridItem" enable-filtering="false">
                                </th>
                                <th field-name="Number" display-name="Number" enable-filtering="false">
                                </th>
                                <th field-name="IsActive" display-name="Active" enable-filtering="false">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td field-name="Id"></td>
                                <td field-name="Name"><input type="text" value="{{gridDisplayItem.Name}}" /></td>
                                <td field-name="ItemGroup"><input type="text" value="{{gridDisplayItem.ItemGroup}}" /></td>
                                <td field-name="Text"><input type="text" value="{{gridDisplayItem.Text}}" /></td>
                                <td field-name="Date"><input type="date" value="{{gridDisplayItem.Date}}" /></td>
                                <td field-name="Number"><input type="number" value="{{gridDisplayItem.Number}}" /></td>
                                <td field-name="IsActive"><input type="checkbox" value="{{gridDisplayItem.IsActive}}" ng-checked="{{gridDisplayItem.IsActive}}" /></td>

                                <td>
                                    <button class="btn btn-default" ng-click="saveItem(gridItem)">
                                        <span>{{gridDisplayItem.Id==0?"Add":"Save"}}</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@
