@{
    Script.Require("AngularJS-Resource");
    Script.Require("UI.Bootstrap"); 
    Script.Require("Admin.Fixture.New");    
    
    Style.Require("Admin.Fixture.New");
    Style.Require("trNgGrid");
}

<div id="ClubConfiguration" data-ng-app="Admin.Fixture.New.App" class="col-md-12">
    <div data-ng-controller="AdminFixtureController">
        <table tr-ng-grid='' items='fixtures'>
            <thead>
                <tr>
                    <th field-name="Id" display-name="Id" enable-filtering="false" enable-sorting="false" display-align="right">
                    </th>
                    <th field-name="Date" display-name="Date" display-format="dateField:gridItem">
                    </th>
                    <th field-name="Team" display-name="Team">
                    </th>
                    <th field-name="Opponent" display-name="Opponent">
                    </th>
                    <th field-name="HomeAway" display-name="HomeAway" display-format="homeAwayField:gridItem">
                    </th>                   
                    <th field-name="Location" display-name="Location">
                    </th>
                    <th field-name="FixtureType" display-name="Fixture">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td field-name="Id"></td>
                    <td field-name="Date"><input type="date" value="{{gridDisplayItem.Date}}" required /></td>
                    <td field-name="Team">                        
                        <input type="text" ng-model="gridDisplayItem.Team" typeahead="team.Name for team in teams | filter:$viewValue | limitTo:8" class="form-control" />
                    </td>
                    <td field-name="Opponent">
                        <input type="text" ng-model="gridDisplayItem.Opponent" typeahead="opponent.Name for opponent in opponents | filter:$viewValue | limitTo:8" class="form-control" />
                    </td>
                    <td field-name="HomeAway">
                        <input type="text" ng-model="gridDisplayItem.HomeAway" typeahead="homeaway for homeaway in homeoraway | filter:$viewValue | limitTo:8" class="form-control" />
                    </td>
                    
                    <td field-name="Location">
                        <input type="text" ng-model="gridDisplayItem.Location" typeahead="location.Name for location in locations | filter:$viewValue | limitTo:8" class="form-control" />
                    </td>
                    <td field-name="FixtureType">
                        <input type="text" ng-model="gridDisplayItem.FixtureType" typeahead="fixturetype.Name for fixturetype in fixturetypes | filter:$viewValue | limitTo:8" class="form-control" />
                    </td>

                    <td>
                        <button class="btn btn-default" ng-click="saveItem(gridItem)">
                            <span>{{gridDisplayItem.Id==0?"Add":"Save"}}</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


        @*<div id="ClubConfiguration" data-ng-app="Club.Configuration.General.App">
        <div data-ng-controller="ConfigurationController">
            <table tr-ng-grid='' items='dataItems'>
                <thead>
                    <tr>
                        <th field-name="Id" display-name="Id" enable-filtering="false" enable-sorting="false" display-align="right">
                        </th>
                        <th field-name="Name" display-name="Name" enable-filtering="false">
                        </th>
                        <th field-name="ItemGroup" display-name="Group" enable-filtering="false">
                        </th>
                        <th field-name="Text" display-name="Text" enable-filtering="false">
                        </th>
                        <th field-name="Date" display-name="Date" display-format="dateField:gridItem" enable-filtering="false">
                        </th>
                        <th field-name="Number" display-name="Number" enable-filtering="false">
                        </th>
                        <th field-name="IsActive" display-name="Active" enable-filtering="false">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td field-name="Id"></td>
                        <td field-name="Name"><input type="text" value="{{gridDisplayItem.Name}}" /></td>
                        <td field-name="ItemGroup"><input type="text" value="{{gridDisplayItem.ItemGroup}}" /></td>
                        <td field-name="Text"><input type="text" value="{{gridDisplayItem.Text}}" /></td>
                        <td field-name="Date"><input type="date" value="{{gridDisplayItem.Date}}" /></td>
                        <td field-name="Number"><input type="number" value="{{gridDisplayItem.Number}}" /></td>
                        <td field-name="IsActive"><input type="checkbox" value="{{gridDisplayItem.IsActive}}" ng-checked="{{gridDisplayItem.IsActive}}" /></td>

                        <td>
                            <button class="btn btn-default" ng-click="saveItem(gridItem)">
                                <span>{{gridDisplayItem.Id==0?"Add":"Save"}}</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*@
