@{
    Script.Require("AngularJS-Resource");
    Script.Require("UI.Bootstrap");
    Script.Require("Admin.Team.New");

    Style.Require("Admin.Team.New");
    Style.Require("trNgGrid");
}

<div data-ng-app="Admin.Team.New.App" class="col-md-12">
    <div data-ng-controller="AdminTeamController">
        <div class="col-md-9">
            
            @Html.Partial("Admin/Fixture/_Shared/_List")
           
        </div>
        <div class="col-md-3 selected-fixture">
            <div class="col-md-12">
                {{selectedFixture.Date | date:"dd/MM/yyyy"}}<br />{{selectedFixture.Team}} v {{selectedFixture.Opponent}}<br />{{selectedFixture.HomeAway}}, {{selectedFixture.FixtureType}}
            </div>
            <ul>
                <li ng-repeat="player in teamSelection track by $index">
                    <div class="col-md-12">
                        <span class="col-md-2">{{$index+1}}</span>
                        <span class="col-md-10"><input type="text" ng-model="teamSelection[$index].Name" typeahead="player.Name for player in players | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="onSelect($item, $index, $label)" /></span>
                    </div>
                </li>
            </ul>
            <div class="col-md-12">
                <span class="col-md-2"></span>
                <span class="col-md-10">
                    <input type="button" value="Save Selection" class="btn btn-success" ng-click="saveTeamSelection()" />
                </span>
            </div>
        </div>
    </div>
</div>

